header{
	background-color: #AEC6CD;
	position: fixed;
	
	/*fonte*/
	color: white;
	font-family: Verdana, Arial, sans-serif;
	font-variant: small-caps;
	font-size: 20px;
	
	/*posição*/
	height: 150px;
	width: 100%;
	line-height: 150px;
	position: relative;
	justify-content: space-evenly;
}

#SAER{
	font-size: 30px;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	left: 0;
}

#logotipo{
	width: 150px;
	height: 150px;
}

.menu{
	width: 40%;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	right: 0;
}

.menu a{
	text-decoration: none;
	color: white;
}

#conteudo{
	/*Para deixar o layout centralizado*/
	width: 90%;
	margin: 0 auto;
	
	font-family: Verdana, Arial, sans-serif;
}

#inicio h3{
	font-size: 35px;
	margin-top: 40px;
	margin-bottom: 20px;
}

#inicio{
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 25px;
}

.ultimas{
	width: 30%;
	text-align: center;
	padding: 10px;
}

.texto{
	padding-left: 100px;
	width: 65%;
	text-align: justify;
	line-height: 40px;
}

.informacoes{
	font-family: Verdana, Arial, sans-serif;
	font-size: 30px;
}

.informacoes h2{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contato{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
}

#numeros{
	display: flex;
	justify-content: space-around;
}

.locais{
	font-family: Verdana, Arial, sans-serif;
	font-size: 30px;
}

.locais h2{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#bairros{
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

.bairro{
	width: 30%;
	text-align: center;
	padding: 10px;
}

#graficos{
	padding: 20px 0;
	display: flex;
	justify-content: space-evenly;
}

#graficos h3{
	font-size: 40px;
}

.grafico{
	width: 30%;
	text-align: center;
	padding: 10px;
}

.cadastro h2{
	font-size: 40px;
	text-align: center;
	line-height: 150%;
	letter-spacing: .3rem;
	
	padding: 20px 350px 20px 350px;
}

.cadastro button{
	background-color: #AEC6CD;
	border-color: #AEC6CD;
	border-radius: 10px;
	font-size: 30px;
	
	border: 10px;
	width: 400px; 
	height: 50px;
	
	margin: 10% 20px;
}


#botoesCadastro{
	text-align: center;
	justify-content: space-around;
}

#infoCadastros{
	padding: 20px 0;
	display: flex;
	font-size: 25px;
	justify-content: space-evenly;
	width: 50%;
	margin: 0 auto;
}

#escritas p{
	padding: 10px;
}

.input{
	padding-left: 110px;
	padding-top: 10px;
	margin-top: 10px;
}

#checkTexto{
	font-size: 15px;
}

#botaoCadastrar{
	font-size: 25px;
	
	border: 5px;
	width: 180px; 
	height: 40px;
}

#atualizarCadastro{
	display: flex;
}

#dadosAntigos{
	padding: 20px 0;
	display: flex;
	font-size: 25px;
	justify-content: space-evenly;
	width: 50%;
	margin: 0 auto;
}

#dadosNovos{
	padding: 20px 0;
	display: flex;
	font-size: 25px;
	justify-content: space-evenly;
	width: 50%;
	margin: 0 auto;
}

#botaoAtualizar{
	background-color: #AEC6CD;
	border-color: #AEC6CD;
	border-radius: 10px;
	font-size: 25px;
	
	border: 5px;
	width: 180px; 
	height: 40px;
}

.centralizar{
	width: 15%;
	margin: 0 auto;
}

#infoProjeto{
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 25px;
}

.projeto{
	width: 30%;
	text-align: center;
	padding: 10px;
}

#infoProjeto h2{
	font-size: 35px;
	margin-top: 40px;
	margin-bottom: 20px;
}


footer{
	clear: both;
	border-top: 1px dotted #AAA;
	border-bottom: 1px dotted #AAA;
	padding: 5px 0 15px;
}

